
version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/" # Location of package manifests
    schedule:
      interval: "yearly"
    commit-message:
      prefix: "chore(deps)"
    groups:
      cargo:
        patterns:
          - "*"

  # This configuration exists so Dependabot knows to send us security notifications when/if they happen.
  # We're not so worried about running latest _features_ of GH actions.
  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`. (You don't need to specify `/.github/workflows` for `directory`. You can use `directory: "/"`.)
    directory: "/"
    schedule:
      interval: "yearly"
    commit-message:
      prefix: "chore(ci)"
      include: "scope"
    groups:
      github-actions:
        patterns:
