name: Rust

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main", "dev"]
  workflow_dispatch:

permissions: {}

env:
  CARGO_TERM_COLOR: always
  CLICOLOR_FORCE: 1
  RUST_BACKTRACE: 1
  CARGO_INCREMENTAL: 0

jobs:
  checks:
    name: checks @${{ matrix.rust-version }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false # useful for testing
      matrix:
        include:
          # MSRV must pass all checks
          - rust-version: 1.81.0 # Base MSRV
            features: ""
            cache: true
            may-fail: false
          - rust-version: 1.85.0 # MSRV for async feature
            features: --all-features
            cache: true
            may-fail: false
          # Latest stable is allowed to fail, this gives us a heads up
          - rust-version: stable
            features: --all-features
            cache: true
            may-fail: true
          # Nightly is allowed to fail, this gives us a heads up
          - rust-version: nightly
            features: --all-features
            may-fail: true
            cache: false

    continue-on-error: ${{ matrix.may-fail }}
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Install Rust ${{ matrix.rust-version }}
        uses: dtolnay/rust-toolchain@6d653acede28d24f02e3cd41383119e8b1b35921 # 2025-09-17
        with:
          toolchain: ${{ matrix.rust-version }}
          components: rustfmt,clippy,rust-src

      ####### Ensure all tools are loaded before rust-cache, or they will be cached themselves ######
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
        with:
          key: ${{ matrix.rust-version }}
          cache-on-failure: true
        if: ${{ matrix.cache && !cancelled() }}

      # Within this workflow we will continue on error, to give
      # maximum information to the developer.
      - run: cargo fmt --all --check
        if: ${{ !cancelled() }}
      - run: cargo test --locked ${{ matrix.features }}
        if: ${{ !cancelled() }}
      - run: cargo clippy --tests --workspace --locked ${{ matrix.features }}
        if: ${{ !cancelled() }}

  docs:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      RUSTDOCFLAGS: -Dwarnings
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@6d653acede28d24f02e3cd41383119e8b1b35921 # 2025-09-17
        with:
          # update periodically
          toolchain: nightly-2025-07-31
          components: rust-src
      - uses: dtolnay/install@b2464e56f40a0193c82503a074e7ccf9dd2d7f40 # 2025-09-07
        with:
          crate: cargo-docs-rs
      ####### Ensure all tools are loaded before rust-cache, or they will be cached themselves ######
      - uses:
          Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
          # this action is used in multiple places
        with:
          cache-on-failure: true
      - run: cargo docs-rs --locked
      # Continue on error for maximum information
      - run: cargo doc --no-deps --document-private-items --locked
        if: ${{ !cancelled() }}

  coverage:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Install Rust
        uses: dtolnay/rust-toolchain@6d653acede28d24f02e3cd41383119e8b1b35921 # 2025-09-17
        with:
          # update periodically
          toolchain: nightly-2025-07-31
          components: llvm-tools-preview,rust-src
      - uses:
          taiki-e/install-action@33734a118689b0b418824fb78ea2bf18e970b43b # v2.50.4
          # this action is used in multiple places
        with:
          tool: cargo-llvm-cov
          checksum: true
      - uses:
          Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
          # this action is used in multiple places
        with:
          cache-on-failure: true
          cache-all-crates: true
      - name: Run coverage tests
        run: cargo llvm-cov --all-features --doctests --workspace --exclude xtask@0.0.0 --lcov --output-path lcov.info --locked
      - name: Upload coverage artifact
        uses: actions/upload-artifact@v5
        with:
          name: lcov.info
          path: lcov.info
      - name: Send result to codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          #files: lcov.info # not needed, it autodetects
          #verbose: true # not needed
          name: lcov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  cargo-deny:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        checks:
          - advisories
          - bans licenses sources
    # Prevent sudden announcement of a new advisory from failing ci:
    continue-on-error: ${{ matrix.checks == 'advisories' }}
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: EmbarkStudios/cargo-deny-action@f2ba7abc2abebaf185c833c3961145a3c275caad # 2.0.13
        with:
          command: check ${{ matrix.checks }}
